body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f5f5f5;
}

header {
  background: #111;
  color: white;
  padding: 20px;
  text-align: center;
}

.products {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 30px;
  flex-wrap: wrap;
}

.product {
  background: white;
  width: 250px;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.product img {
  width: 100%;
  border-radius: 8px;
}

button {
  background: #d63384;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #b02a6b;
}

.checkout {
  background: white;
  padding: 25px;
  margin: 20px;
  border-radius: 10px;
}

.checkout input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
}
